-@section = 'quests'
-box do
  %h3= "#{:editing_quest.l} - #{@quest.title}"

  = error_messages_for :quest

  - form_for(@quest, :html => {:class => "MainForm"}) do |f|
    = render :partial => 'form', :locals => {:form => f}
    %p= submit_tag :update.l

  = link_to :back.l, quest_path(@quest)

=render :partial => 'quests/behaviour'  