-box do
  %h3 Explore
  %ul.list.checks
    - Category.find(:all).each do |c|
      %li= link_to c.name, category_path(c)
    %li= link_to :whats_popular.l, popular_url, {:class => 'popular'}
    %li= link_to :items_database.l, items_path
    %li= link_to :quests_database.l, quests_path
    %li= link_to :mobs_database.l, mobs_path
    - Page.find(:all).each do |page|
      - if (logged_in? || page.page_public)
        %li= link_to page.title, pages_path(page)