%h3=:item_schematics.l
%table{:cellpadding => '0', :cellspacing => ''}
  %tr
    %td
      %strong Total Build Weight
    %td= @schematics[:wgt].to_f
  %tr
    %td
      %strong Total Build Cost
    %td= @schematics[:cost].to_f
  -if @schematics[:build].to_i > 0
    %tr
      %td
        %strong Total Build Time
      %td= "#{craft_seconds_to_time(@schematics[:build].to_i)} (#{craft_seconds_to_time(@schematics[:build].to_f * 0.75)})"
%br
=render :partial => 'items/schematics', :locals => {:schematics => schematics}